@charset "UTF-8";

#contents-yield-wrapper {
  margin: 0 auto;
  padding: 100px 10px 40px;
  max-width: 1200px;
}
h2.contents-headding {
  line-height: 3;
  font-size: 24px;
  padding-left: 20px;
  color: #fff;
  background-color: rgb(50, 150, 0);
}

@media screen and (max-width: 800px) {
  #contents-yield-wrapper {
    margin-top: 60px;
  }
}
