---
title: メニュー・料金
---

%h2.contents-headding
  メニュー・料金

%ul#menu-tab
  %li
    %a{href: '#shinonome-menu', class: 'current'}
      東雲店
  %li
    %a{href: '#ujina-menu', class: ''}
      宇品店

#menu-contents
  #shinonome-menu.tab-menu
    %p 東雲メニュー
    %p
      ◆超音波 3分 500円
      %br
      %br

      ◆施術時間延長
      %br
      10分　　1,000円
      %br
      15分　　1,500円
      %br
      30分　　3,000円
      %br
      %br

      ◆はり灸　　窓口負担分＋700円
      %br
      %br

      ◆テーピング　　一部位　200円
      %br
      %br

      ◆自由診療　ほぐし
      %br
      もみほぐし30分　　3,500円
      %br
      もみほぐし45分　　5,000円
      %br
      %br

      ◆自由診療　はり灸
      %br
      鍼30分　　4,200円
      %br
      鍼15分　　5,700円
      %br
      %br

      美顔ばり　30分　　3,000円
      %br
      %br

      ◆足ツボ・フットオイルマッサージ
      %br
      30分　　3,500円
      %br
      %br

      ◆矯正
      %br
      猫背　10分　2,000円
      %br
      骨盤　 5分　 1,000円
      %br
      %br

      ◆筋トレ
      %br
      一部位　2パッド10分　お試し1回　600円
      %br
      6回コース　3,000円　1か月間フリーパスポート　6,000円
      %br
      2部位　4パッド20分　お試し1回　1,200円
      %br
      6回コース　6,000円　1か月間フリーパスポート　　12,000円
  #ujina-menu.tab-menu
    %p 宇品メニュー
    %p
      ◆超音波 3分 500円
      %br
      %br

      ◆施術時間延長
      %br
      10分　　1,000円
      %br
      15分　　1,500円
      %br
      30分　　3,000円
      %br
      %br

      ◆はり灸　　窓口負担分＋700円
      %br
      %br

      ◆テーピング　　一部位　200円
      %br
      %br

      ◆自由診療　ほぐし
      %br
      もみほぐし30分　　3,500円
      %br
      もみほぐし45分　　5,000円
      %br
      %br

      ◆自由診療　はり灸
      %br
      鍼30分　　4,200円
      %br
      鍼15分　　5,700円
      %br
      %br

      美顔ばり　30分　　3,000円
      %br
      %br

      ◆足ツボ・フットオイルマッサージ
      %br
      30分　　3,500円
      %br
      %br

      ◆矯正
      %br
      猫背　10分　2,000円
      %br
      骨盤　 5分　 1,000円
      %br
      %br

      ◆筋トレ
      %br
      一部位　2パッド10分　お試し1回　600円
      %br
      6回コース　3,000円　1か月間フリーパスポート　6,000円
      %br
      2部位　4パッド20分　お試し1回　1,200円
      %br
      6回コース　6,000円　1か月間フリーパスポート　　12,000円
