---
title: アクセス
---

%h2.contents-headding
  アクセス

%ul#menu-tab
  %li
    %a{href: '#shinonome-menu', class: 'current'}
      東雲店
  %li
    %a{href: '#ujina-menu', class: ''}
      宇品店

#menu-contents
  #shinonome-menu.tab-menu
    %p
      〒734-0023
      %br
      広島県広島市南区東雲本町2丁目10-30
      %br
      %br
      案内説明案内説明案内説明案内説明
      %br
      案内説明案内説明案内説明案内説明
      %br
      案内説明案内説明案内説明案内説明
      %br

    .ggmap
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6585.594629280221!2d132.48687100000004!3d34.381075!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc7c88e464918db68!2z44G744Gt44Gk44GO5LiA5LyR44GV44KT5p2x6Zuy5bqX!5e0!3m2!1sja!2sjp!4v1516178204033", :style => "border:0", :width => "600"}


  #ujina-menu.tab-menu
    %p
      〒734-0004
      %br
      広島県広島市南区宇品神田1丁目8-11 ハイポート宇品 1F
      %br
      %br
      案内説明案内説明案内説明案内説明
      %br
      案内説明案内説明案内説明案内説明
      %br
      案内説明案内説明案内説明案内説明
      %br

    .ggmap
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13174.009628048052!2d132.470263!3d34.36314000000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe7cc897440b2782f!2z44G744Gt44Gk44GO5LiA5LyR44GV44KT5a6H5ZOB5bqX!5e0!3m2!1sja!2sjp!4v1516178312798", :style => "border:0", :width => "600"}
