---
title: スタッフ紹介
---

%h2.contents-headding
  スタッフ紹介

%ul#menu-tab
  %li
    %a{href: '#shinonome-menu', class: 'current'}
      東雲店
  %li
    %a{href: '#ujina-menu', class: ''}
      宇品店

#menu-contents
  #shinonome-menu.tab-menu
    %p 東雲メニュー
  #ujina-menu.tab-menu
    %p 宇品メニュー
